/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Education Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; }

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   color: #A8A8A8;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #11ABB0; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #11ABB0; }


/* ------------------------------------------------------------------ */
/* c. About Section
/* ------------------------------------------------------------------ */

#about {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

#about a, #about a:visited  { color: #fff; }
#about a:hover, #about a:focus { color: #11ABB0; }

#about h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about h3 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#about p {
   line-height: 30px;
   color: #7A7A7A;
}
#about .profile-pic {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}
#about .contact-details { width: 41.66667%; }
#about .download {
   width: 58.33333%;
   padding-top: 6px;
}
#about .main-col { padding-right: 5%; }
#about .download .button {
   margin-top: 6px;
   background: #444;
}
#about .download .button:hover {
   background: #fff;
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


/* ------------------------------------------------------------------ */
/* d. Education Section
/* ------------------------------------------------------------------ */

#Education {
   background: #FFF;
   overflow: hidden;
}

#Education a, #Education a:visited  { color: #11ABB0; }
#Education a:hover, #Education a:focus { color: #313131; }

#Education h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Education h2 {
   font: 16px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Education h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#Education h5 {
   font: 20px/30px 'opensans-bold', sans-serif;
}

#Education .header-col { padding-top: 9px; }
#Education .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#Education .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#Education .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#Education .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}


#Honor  {
   background: #fff;
   overflow: hidden;
}

#Honor  a, #Honor  a:visited  { color: #11ABB0; }
#Honor  a:hover, #Honor  a:focus { color: #313131; }

#Honor  h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Honor  h1 span {
   border-bottom: 3px solid #11ABB0;
}
#Honor  h5 {
   font: 20px/30px 'opensans-bold';
}
#Honor p {
	color: #000000;
	font: 18px/24px 'opensans-bold', sans-serif;
}



.education, .work {
   border-bottom: 1px solid #E8E8E8;
}
#Honor  .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
}
#Honor  .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#Honor  .date {
   font: 15px/24px 'opensans-regular', sans-serif;
}


#Certificates {
   background: #fff;
   overflow: hidden;
}

#Certificates a, #Certificates a:visited  { color: #11ABB0; }
#Certificates a:hover, #Certificates a:focus { color: #313131; }

#Certificates h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Certificates h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#Certificates h5 {
   font: 20px/30px 'opensans-bold', sans-serif;
}

#Certificates .header-col { padding-top: 9px; }
#Certificates .main-col { padding-right: 10%; }

.education, .work {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}
#Certificates .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#Certificates .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#Certificates .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}


#Experience {
   background: #fff;
   overflow: hidden;
}

#Experience a, #Experience a:visited  { color: #11ABB0; }
#Experience a:hover, #Experience a:focus { color: #313131; }

#Experience h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Experience h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#Experience h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#Experience .header-col { padding-top: 9px; }
#Experience .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#Experience .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#Experience .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}


#Projects {
   background: #fff;
   overflow: hidden;
}

#Projects a, #Projects a:visited  { color: #11ABB0; }
#Education a:hover, #Projects a:focus { color: #313131; }

#Projects h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Projects h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#Projects h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#Projects .header-col { padding-top: 9px; }
#Projects .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#Projects .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#Projects .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#Projects .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}

#Skills {
   background: #fff;
   overflow: hidden;
   padding-top: 70px;
}

#Skills a, #Skills a:visited  { color: #11ABB0; }
#Skills a:hover, #Skills a:focus { color: #313131; }

#Skills h1 {
   font: 18px/24px 'opensans-bold', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#Skills h1 span {
   border-bottom: 3px solid #11ABB0;
   padding-bottom: 6px;
}
#Skills h3 {
   font: 25px/30px 'opensans-bold', sans-serif;
}

#Skills .header-col { padding-top: 9px; }
#Skills .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#Skills .info {
   font: 16px/24px 'librebaskerville-italic', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#Skills .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#Skills .date {
   font: 15px/24px 'opensans-regular', sans-serif;
   margin-top: 6px;
}



/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}
.bars .Skills {
  	margin-top: 36px;
   list-style: none;
}
.bars li {
   position: relative;
  	margin-bottom: 60px;
  	background: #ccc;
  	height: 42px;
  	border-radius: 3px;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #313131;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: normal;
   position: relative;
	top: -36px;
}
.bar-expand {
   position: absolute;
   left: 0;
   top: 0;

   margin: 0;
   padding-right: 24px;
  	background: #313131;
   display: inline-block;
  	height: 42px;
   line-height: 42px;
   border-radius: 3px 0 0 3px;
}

.Deep {
  	width: 85%;
  	-moz-animation: Deep 2s ease;
  	-webkit-animation: Deep 2s ease;
}
.Vision {
  	width: 80%;
  	-moz-animation: Vision 2s ease;
  	-webkit-animation: Vision 2s ease;
}
.Web {
  	width: 50%;
  	-moz-animation: Web 2s ease;
  	-webkit-animation: Web 2s ease;
}
.C {
  	width: 90%;
  	-moz-animation: C 2s ease;
  	-webkit-animation: C 2s ease;
}
.Java {
  	width: 40%;
  	-moz-animation: Java 2s ease;
  	-webkit-animation: Java 2s ease;
}
.Git {
  	width: 80%;
  	-moz-animation: Git 2s ease;
  	-webkit-animation: Git 2s ease;
}

.English {
  	width: 70%;
  	-moz-animation: English 2s ease;
  	-webkit-animation: English 2s ease;
}

.Persian {
  	width: 100%;
  	-moz-animation: Persian 2s ease;
  	-webkit-animation: Persian 2s ease;
}

@-moz-keyframes Deep {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-moz-keyframes Vision {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-moz-keyframes Web {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-moz-keyframes C {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-moz-keyframes Java {
  0%   { width: 0px;  }
  100% { width: 40%;  }
}
@-moz-keyframes Git {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}

@-moz-keyframes English {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}

@-moz-keyframes Persian {
  0%   { width: 0px;  }
  100% { width: 100%;  }
}

@-webkit-keyframes Deep {
  0%   { width: 0px;  }
  100% { width: 85%;  }
}
@-webkit-keyframes Vision {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}
@-webkit-keyframes Web {
  0%   { width: 0px;  }
  100% { width: 50%;  }
}
@-webkit-keyframes C {
  0%   { width: 0px;  }
  100% { width: 90%;  }
}
@-webkit-keyframes Java {
  0%   { width: 0px;  }
  100% { width: 40%;  }
}
@-webkit-keyframes Git {
  0%   { width: 0px;  }
  100% { width: 80%;  }
}

@-webkit-keyframes English {
  0%   { width: 0px;  }
  100% { width: 70%;  }
}

@-webkit-keyframes Persian {
  0%   { width: 0px;  }
  100% { width: 100%;  }
}



/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }

